---
---

<center><h1>üìç üìç Assignment: Subsetting and Modifying Dataüìç üìç</h1></center>


---


#### `READ THE BIG MART SALES DATA`


---

In [152]:
import pandas as pd

In [154]:
data = pd.read_csv('big_mart_sales.csv')

In [156]:
data.head(13)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646

---

#### `Select the rows where Item_MRP is less than 100`


---

In [159]:
item_less=data[data['Item_MRP']<100]
print(item_less.head(13))

   Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
1            DRC01        5.920          Regular         0.019278
4            NCD19        8.930          Low Fat         0.000000
5            FDP36       10.395          Regular         0.000000
6            FDO10       13.650          Regular         0.012741
8            FDH17       16.200          Regular         0.016687
10           FDY07       11.800          Low Fat         0.000000
15           FDP49        9.000          Regular         0.069089
17           FDP49        9.000          Regular         0.069196
25           NCD06       13.000          Low Fat         0.099887
26           FDV10        7.645          Regular         0.066693
27           DRJ59       11.650          low fat         0.019356
28           FDE51        5.925          Regular         0.161467
29           FDC14          NaN          Regular         0.072222

                Item_Type  Item_MRP Outlet_Identifier  \
1             Soft Drinks   48.2692            OUT018
4               Household   53.8614            OUT013
5            Baking Goods   51.4008            OUT018
6             Snack Foods   57.6588            OUT013
8            Frozen Foods   96.9726            OUT045
10  Fruits and Vegetables   45.5402            OUT049
15              Breakfast   56.3614            OUT046
17              Breakfast   54.3614            OUT049
25              Household   45.9060            OUT017
26            Snack Foods   42.3112            OUT035
27            Hard Drinks   39.1164            OUT013
28                  Dairy   45.5086            OUT010
29                 Canned   43.6454            OUT019

    Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
1                        2009      Medium               Tier 3
4                        1987        High               Tier 3
5                        2009      Medium               Tier 3
6                        1987        High               Tier 3
8                        2002         NaN               Tier 2
10                       1999      Medium               Tier 1
15                       1997       Small               Tier 1
17                       1999      Medium               Tier 1
25                       2007         NaN               Tier 2
26                       2004       Small               Tier 2
27                       1987        High               Tier 3
28                       1998         NaN               Tier 3
29                       1985       Small               Tier 1

          Outlet_Type  Item_Outlet_Sales
1   Supermarket Type2           443.4228
4   Supermarket Type1           994.7052
5   Supermarket Type2           556.6088
6   Supermarket Type1           343.5528
8   Supermarket Type1          1076.5986
10  Supermarket Type1          1516.0266
15  Supermarket Type1          1547.3192
17  Supermarket Type1           718.3982
25  Supermarket Type1           838.9080
26  Supermarket Type1          1065.2800
27  Supermarket Type1           308.9312
28      Grocery Store           178.4344
29      Grocery Store           125.8362

---

#### `Select the rows where Outlet_Location_Type is Tier 1 and Outlet_Establishment_Year is from the list [1987, 1988, 2009]`

---

In [162]:
tier1_df=data[(data['Outlet_Location_Type']=='Tier 1') & (data['Outlet_Establishment_Year'].isin([1987,1988,2009]))]
print("Tier 1 Outlets:\n",tier1_df)

Tier 1 Outlets:
 Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

---

#### `Update the values of the column Outlet_Type using the mapping given below` 


---

In [165]:
mapping= {
    'Supermarket Type1' : 1,
    'Supermarket Type2' : 2,
    'Grocery Store'     : 3,
    'Supermarket Type3' : 4
}

In [167]:
data['Outlet_Type'] = data['Outlet_Type'].map(mapping)
# Display the updated DataFrame
print(data[['Outlet_Type']].head())

   Outlet_Type
0            1
1            2
2            1
3            3
4            1

---

#### `Fill the missing values in the column 'Outlet_Size' by Medium using loc`

---

In [174]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [182]:
data.loc[data['Outlet_Size'].isna(), 'Outlet_Size'] = 'Medium'
print(data['Outlet_Size'])

0       Medium
1       Medium
2       Medium
3       Medium
4         High
         ...
8518      High
8519    Medium
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object