## Python_Intern_Assignment_1

Formatted Twinkle Poem

In [9]:
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("\t\tUp above the world so high,")
print("\t\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

Write a Python program to find out what version of Python you are using.

In [12]:
import sys
print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=12, micro=7, releaselevel='final', serial=0)

Write a Python program to display the current date and time.

In [15]:
import datetime
now = datetime.datetime.now()
print("Current date and time : ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2025-05-13 15:35:04

Write a Python program that calculates the area of a circle based on the radius entered by the user.

In [18]:
from math import pi
r = float(input("Input the radius of the circle : "))
area = pi * r**2
print("The area of the circle with radius", r, "is:", area)

Input the radius of the circle :  7

The area of the circle with radius 7.0 is: 153.93804002589985

Write a Python program that accepts the user's first and last name and prints them in reverse order.

In [21]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Reversed Name:", last_name, first_name)

Enter your first name:  yoshva
Enter your last name:  j

Reversed Name: j yoshva

Write a Python program that accepts a sequence of comma-separated numbers and generates a list and a tuple.

In [25]:
values = input("Input some comma separated numbers: ")
list_values = values.split(",")
tuple_values = tuple(list_values)
print('List :', list_values)
print('Tuple :', tuple_values)

Input some comma separated numbers:  4,5,6,7,8

List : ['4', '5', '6', '7', '8']
Tuple : ('4', '5', '6', '7', '8')

Write a Python program that accepts a filename and prints the extension of the file.

In [32]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")[-1]
print("The extension of the file is:", f_extns)

Input the Filename:  notes.txt

The extension of the file is: txt

 Write a Python program to display the first and last colors from the list.

In [39]:
color_list = ["Red", "Green", "White", "Black"]
print("First color:", color_list[2])
print("Last color:", color_list[-2])

First color: White
Last color: White

Write a Python program to display the examination schedule.

In [42]:
exam_st_date = (11, 12, 2014)
print("The examination will start from: %i / %i / %i" % exam_st_date)

The examination will start from: 11 / 12 / 2014

 Write a Python program to calculate the value of n+nn+nnn for a given n.

In [49]:
n = int(input("Enter a number: "))
nn = int(str(n) * 2)
nnn = int(str(n) * 3)
print("Result:", n + nn + nnn)

Enter a number:  8

Result: 984

Write a Python program to print documentation of built-in function.

In [57]:
print(abs.__doc__)

Return the absolute value of the argument.

Write a Python program that prints the calendar for a given month and year.

In [60]:
import calendar
year = int(input("Input the year: "))
month = int(input("Input the month: "))
print(calendar.month(year, month))

Input the year:  2003
Input the month:  9

   September 2003
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

Write a Python program to print a multi-line 'here document'.

In [63]:
print("""
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

Write a Python program to calculate days between two dates.

In [66]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(f"Days between: {delta.days}")

Days between: 9

Write a Python program to get the volume of a sphere with radius 6.

In [69]:
from math import pi
r = 6.0
volume = (4.0/3.0) * pi * r**3
print("Volume of the sphere is:", volume)

Volume of the sphere is: 904.7786842338603

Calculate the difference between a given number and 17. If the number is greater than 17, return twice the absolute difference.

In [74]:
def diff_17(n):
    if n > 17:
        return 2 * abs(n - 17)
    else:
        return 17 - n
print(diff_17(22))
print(diff_17(14))

10
3

Test whether a number is within 100 of 1000 or 2000.

In [77]:
def near_thousand(n):
    return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))

print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))
print(near_thousand(2200))

True
True
False
False

Calculate the sum of three numbers. If all are equal, return thrice their sum.

In [91]:
def sum_thrice(x, y, z):
    if x == y == z:
        return 3 * (x + y + z)
    else:
        return x + y + z

print(sum_thrice(1, 2, 5))
print(sum_thrice(2, 2, 2))

8
18

Get a new string with 'Is' added to the front. If it already begins with 'Is', return unchanged.

In [99]:
def new_string(text):
    if len(text) >= 2 and text[:2] == "Is":
        return text
    return "Is" + text
print(new_string("Array"))
print(new_string("IsEmpty"))

IsArray
IsEmpty

Return a string that is n copies of a given string.

In [108]:
def larger_string(text, n):
    return text * n
print(larger_string("Python", 2))
print(larger_string("Python",10))

PythonPython
PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

Determine whether a number is even or odd.

In [131]:
num=int(input("Enter any number:"))
if num % 2==0:
        print("The number is even")
else:
    print("The number is odd")

Enter any number: 2003

The number is odd

 Count the number 4 in a given list.

In [141]:
def list_count_4(nums):
    count = 0
    for num in nums:
        if num == 4:
            count += 1
    return count
print(list_count_4([1, 4, 4,6, 7, 4]))

3

 Test whether a passed letter is a vowel or not.

In [144]:
def is_vowel(char):
    return char.lower() in 'aeiou'

print(is_vowel('a'))
print(is_vowel('b'))

True
False

Check whether a value is contained in a group.

In [149]:
def is_value_in_group(value, group):
    return value in group
print(is_value_in_group(3, [1, 5, 8, 3]))
print(is_value_in_group(-1, [1, 5, 8, 3]))

True
False

Create a histogram from a list of integers.

In [154]:
def histogram(items):
    for n in items:
        print('*' * n)
histogram([2, 3, 6, 5])

**
***
******
*****